/* Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* Font Families ---
font-family: 'Smooch Sans', sans-serif;
*/

:root {
   --light: #f2f2f8;
   --light2: #e5e5ec;
   --medium: #e2e0ed;
   --alternate: #c8c4dc;
   --dark: #3F3D56;
   --accent: #860F1C;
   --hover: #bA0A0A;
   --h1: 48px;
   --h2: 32px;
   --h3: 21px;
   --p: 18px;
   --xs: 15px;
   --header: 65px;
   --boxed: 1000px;
   --mobile: 500px;
}

*, html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Smooch Sans', sans-serif;
   font-weight: 400;
   letter-spacing: 0.5px;
}

body {
   margin: auto;
}

/* DASHBOARD --- */

.dashboard {
   position: relative;
   background: var(--light);
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--dark);
}

.main {
   overflow-y: auto;
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--dark);
}

.tab {
   height: 100%;
   width: calc(100% * 1 / 3);
   display: flex;
   justify-content: center;
   align-items: center;
}

/* TRACKER --- */

.goal {
   background: var(--medium);
}

.accordion {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.goal form {
   width: 100%;
   display: flex;
   gap: 5px;
}

.goal form input {
   width: 25%;
}

/* GRAPH --- */

.section {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 40%;
}

.macros {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-bottom: 5px;
}

.macro {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	width: 100px;
}

.bar--goal {
	position: relative;
	display: flex;
	align-items: flex-end;
	width: 75px;
	min-height: 5px;
	margin-bottom: 10px;
	background: var(--medium);
}

.bar {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75px;
	background: var(--alternate);
}

.title {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: var(--h3);
	color: var(--light);
	z-index: 10;
}

.amount {
	display: flex;
	font-size: var(--p);
}

.calories {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 10px;
}

.calories--goal {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	background: var(--medium);
}

.logged {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: 50px;
	background: var(--alternate);
}