/* GLOBAL SETTINGS & STYLES --- */

:root {
   --light: #f2f2f8;
   --medium: #e2e0ed;
   --alternate: #c8c4dc;
   --dark: #3F3D56;
   --accent: #860F1C;
   --hover: #bA0A0A;
   --h1: 32px;
   --h2: 21px;
   --h3: 18px;
   --p: 15px;
   --xs: 12px;
}

*, html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Helvetica';
   font-weight: 300;
   letter-spacing: 0.5px;
}

body {
   margin: auto;
}

.btn:hover {
	cursor: pointer;
}

/* APP --- */

.app {
   position: relative;
   background: var(--light);
}

.header {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--dark);
}

.logo {
   font-size: var(--h1);
	color: var(--light);
}

.profile {
   position: absolute;
   top: 50%;
   right: 35px;
   transform: translate(50%, -50%);
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--light);
   font-size: var(--h1);
	color: var(--dark);
   border-radius: 50%;
}

.main {
   overflow-y: auto;
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background: var(--dark);
}

.tab {
   height: 60%;
   width: 45%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--light);
   font-size: var(--h2);
	color: var(--dark);
}